<form class="form" #form="ngForm" novalidate
  (ngSubmit)="onSubmit(form)"
  >
  <h2>Demo Form</h2>
  
  <div class="form-field-wrap">
    <p class="form-field-desc">
      1) required field with length validation (min = 2, max = 5).
    </p>
    
    <mat-form-field>
      <input type="text"  
             gInput matInput 
             placeholder="Name"
             [(ngModel)]="data.name" 
             name="userName"
             #nameModel="ngModel" 
             [model]="nameModel"
             required 
             minlength="2"
             maxlength="5"
        >
    </mat-form-field>
    <g-msg for="userName"></g-msg>
  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      2) required field with email validation
    </p>

    <mat-form-field>
      <input type="email" 
             gInput matInput 
             placeholder="Email"
             name="email"
             [(ngModel)]="data.email" 
             #emailModel="ngModel"  
             [model]="emailModel" 
             required
        >
    </mat-form-field>
    <g-msg for="email"></g-msg>
  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      3) required field with integer and range validation <br>(min = 1, max = 100).
    </p>
    
    <mat-form-field>
      <input type="number" 
             gInput matInput
             name="quantity"
             placeholder="Quantity"
             [(ngModel)]="data.quantity" 
             #quantityModel="ngModel" 
             [model]="quantityModel"
             required integer 
             min="1" max="100" 
        >
    </mat-form-field>

    <g-msg for="quantity"></g-msg>

  </div>

  <div class="form-field-wrap">

    <p class="form-field-desc">
      4) Custom input with required and length validation <br> (min = 4, max = 6).
    </p>

    <input class="custom-input"
           type="text" 
           placeholder="Zip Code"
           gInput name="zipCode"
           [(ngModel)]="data.zipCode" 
           #zipCodeModel="ngModel" 
           [model]="zipCodeModel"
           required 
           minlength="4"
           maxlength="6"
      >

    <g-msg for="zipCode"></g-msg>

  </div>

  <div class="form-field-wrap">

    <p class="form-field-desc">
      5) Custom input with label. <br> Validation params: required and length (min = 4, max = 10).
    </p>

    <label class="custom-input-label" 
           for="addressId" gLabel 
      >Address
    </label>

    <input class="custom-input"
           type="text"
           gInput
           label="Address"
           name="address"
           id="addressId"
           [(ngModel)]="data.address" 
           #addressModel="ngModel" 
           [model]="addressModel"
           required 
           minlength="4"
           maxlength="10"
      >

    <g-msg for="addressId"></g-msg>

  </div>

  <div class="form-footer">
  
    <button type="submit" mat-raised-button color="primary" 
      >Submit
    </button>

  </div>

</form>
