<button (click)="test()">Test</button>
<form class="form" #form="ngForm" novalidate
  (ngSubmit)="onSubmit(form)"
  >
  <h2>Demo Form</h2>
  
  <div class="form-field-wrap">
    <p class="form-field-desc">
      1) Text input.<br>Validation params: required, minlength=2, maxlength=10.
    </p>
    
    <mat-form-field>
      <input type="text"  
             gInput matInput 
             placeholder="Name"
             [(ngModel)]="data.name" 
             name="userName"
             #nameModel="ngModel" 
             [model]="nameModel"
             [required]="required" 
             [minlength]="minlength"
             [maxlength]="maxlength"
        >
    </mat-form-field>
    <g-msg for="userName"></g-msg>
  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      2) Email input.<br>Validation params: required.
    </p>

    <mat-form-field>
      <input type="email" 
             gInput matInput 
             placeholder="Email"
             name="email"
             [(ngModel)]="data.email" 
             #emailModel="ngModel"  
             [model]="emailModel" 
             required
        >
    </mat-form-field>
    <g-msg for="email"></g-msg>
  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      3) Number input.<br>Validation params: integer, min=1, max=100.
    </p>
    
    <mat-form-field>
      <input type="number" 
             gInput matInput
             name="quantity"
             placeholder="Quantity"
             [(ngModel)]="data.quantity" 
             #quantityModel="ngModel" 
             [model]="quantityModel"
             required integer 
             min="1" max="100" 
        >
    </mat-form-field>

    <g-msg for="quantity"></g-msg>

  </div>

  <div class="form-field-wrap">

    <p class="form-field-desc">
      4) Text area.<br>Validation params: required, maxlength="20".
    </p>

    <mat-form-field>
      <textarea rows="1" 
              matInput gInput
              name="comment"
              placeholder="Comment"
              [(ngModel)]="data.comment" 
              #commentModel="ngModel" 
              [model]="commentModel"
              required
              maxlength="20"
        >
      </textarea>
    </mat-form-field>
    
    <g-msg for="comment"></g-msg>

  </div>

  <div class="form-footer">
  
    <button type="submit" mat-raised-button color="primary" 
      >Submit
    </button>

  </div>

</form>
