.form {
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    color: rgba(0,0,0,.87);
    opacity: 0.6;
  }
  &-field-wrap {
    margin-bottom: 30px;
  } 
  &-field-desc {
    color: #3f51b5;
    font-size: 14px;
  }
  &-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
