<form class="form" #form="ngForm" novalidate
      (ngSubmit)="onSubmit(form)"
  >
  <h2>Test Form</h2>

  <mat-form-field class="form-field">
    <input type="text" matInput placeholder="Name"
            [(ngModel)]="user.name" name="name" 
            #nameModel="ngModel" 
            [gInput]="nameModel" required
      >
  </mat-form-field>
  <g-msg inputName="name"></g-msg>

  <mat-form-field class="form-field">
    <input type="email" matInput placeholder="Email"
           [(ngModel)]="user.email" name="email" 
           #emailModel="ngModel"
           [gInput]="emailModel" required
      >
  </mat-form-field>
  <g-msg inputName="email"></g-msg>

  <button class="form-submit" color="primary" 
          mat-raised-button type="submit"
    >Submit
  </button>
</form>
