.content {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}
.left-column {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.right-column {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.form {
  // width: 360px;
  h2 {
    margin-bottom: 40px;
  }
  &-field-wrap {
    margin-bottom: 30px;
  } 
  &-field-desc {
    color: #3f51b5;
    font-size: 14px;
  }
  &-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }

}
.template-sample {
  background-color: #23241f;
  color: white;
}
.tag {
  color: lightblue;
}