<form class="form" #form="ngForm" novalidate
      (ngSubmit)="onSubmit(form)"
  >
  <h2>Test Form</h2>

  <mat-form-field class="form-field">
    <input type="text" matInput placeholder="Name"
            [(ngModel)]="user.name" name="userName" 
            #nameModel="ngModel" 
            [gInput]="nameModel"
            required 
            minlength="2"
            maxlength="5"
      >
  </mat-form-field>
  <g-msg inputName="userName"></g-msg>

  <mat-form-field class="form-field">
    <input type="email" matInput 
           placeholder="Email"
           [(ngModel)]="user.email" 
           #emailModel="ngModel"  
           name="email" 
           [gInput]="emailModel" 
           required
      >
  </mat-form-field>
  <g-msg inputName="email"></g-msg>

  <mat-form-field class="form-field">
    <input type="number" matInput 
           placeholder="Quantity"
           [(ngModel)]="user.quantity" 
           name="quantity" 
           #quantityModel="ngModel" 
           [gInput]="quantityModel"
           required integer min="1" max="100" 
      >
  </mat-form-field>
  <g-msg inputName="quantity"></g-msg>

  <button class="form-submit" color="primary" 
          mat-raised-button type="submit"
    >Submit
  </button>
</form>
