g-msg {
  display: block;
  color: #f44336; // $mat-red 500
  font-size: 12px;
  margin-top: -33px; // -29
  min-height: 20px;
  .g-msg_pos_bottom-left {
    text-align: left;
  }
  .g-msg_pos_bottom-right {
    text-align: right;
  }
}

.g-msg__form-field {
  margin-bottom: 16px;
  width: 100%;
}