g-msg {
  display: block;
  color: #f44336; // $mat-red 500
  font-size: 12px;
  text-align: right;
  margin-top: -33px; // -29
  min-height: 20px;
}

.g-msg__form-field {
  margin-bottom: 16px;
  width: 100%;
}