<form class="form" #form="ngForm" novalidate
  (ngSubmit)="onSubmit(form)"
  >
  <h2>Demo Form</h2>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      1) Text input.<br>Validation params: required, minlength=2, maxlength=10.
    </p>

    <input class="custom-input"
           type="text"  
           gInput 
           placeholder="Name"
           [(ngModel)]="data.name" 
           name="userName"
           #nameModel="ngModel" 
           [model]="nameModel"
           required 
           minlength="2"
           maxlength="10"
      >

    <g-msg for="userName"></g-msg>

  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      2) Email input with label.<br>Validation params: required.
    </p>

    <label class="custom-input-label" 
           gLabel for="emailId"
      >Email
    </label>

    <input class="custom-input"
           type="email" 
           gInput
           label="Email"
           name="email"
           id="emailId"
           [(ngModel)]="data.email" 
           #emailModel="ngModel"  
           [model]="emailModel" 
           required
      >

    <g-msg for="email"></g-msg>

  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      3) Number input.<br>Validation params: required, integer, min=1, max=100.
    </p>
    
    <input class="custom-input"
           type="number" 
           gInput
           name="quantity"
           placeholder="Quantity"
           [(ngModel)]="data.quantity" 
           #quantityModel="ngModel" 
           [model]="quantityModel"
           required integer 
           min="1" max="100" 
      >
  
    <g-msg for="quantity"></g-msg>

  </div>

  <div class="form-field-wrap">

    <p class="form-field-desc">
      4) Text area with label.<br>Validation params: required, maxlength="20".
    </p>

    <label class="custom-input-label" 
           gLabel 
           for="commentId"
      >Comment
    </label>

    <textarea class="custom-input"
              gInput
              name="comment"
              id="commentId"
              label="Comment"
              [(ngModel)]="data.comment" 
              #commentModel="ngModel" 
              [model]="commentModel"
              required
              maxlength="20"
      >
    </textarea>
  
    <g-msg for="commentId"></g-msg>

  </div>

  <div class="form-footer">
  
    <button type="submit">Submit</button>

  </div>

</form>
