<form class="form" #form="ngForm" novalidate
  (ngSubmit)="onSubmit(form)"
  >
  <h2>Demo Form</h2>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      1) Required field with length validation (min = 2, max = 5).
    </p>

    <input class="custom-input"
           type="text"  
           gInput 
           placeholder="Name"
           [(ngModel)]="data.name" 
           name="userName"
           #nameModel="ngModel" 
           [model]="nameModel"
           required 
           minlength="2"
           maxlength="5"
      >

    <g-msg for="userName"></g-msg>

  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      2) Field with label. Validation params: required and email.
    </p>

    <label class="custom-input-label" 
           gLabel for="emailId"
      >Email
    </label>

    <input class="custom-input"
           type="email" 
           gInput
           label="Email"
           name="email"
           id="emailId"
           [(ngModel)]="data.email" 
           #emailModel="ngModel"  
           [model]="emailModel" 
           required
      >

    <g-msg for="email"></g-msg>

  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      3) Required field with integer and range validation <br>(min = 1, max = 100).
    </p>
    
    <input class="custom-input"
           type="number" 
           gInput
           name="quantity"
           placeholder="Quantity"
           [(ngModel)]="data.quantity" 
           #quantityModel="ngModel" 
           [model]="quantityModel"
           required integer 
           min="1" max="100" 
      >
  
    <g-msg for="quantity"></g-msg>

  </div>

  <div class="form-footer">
  
    <button type="submit">Submit</button>

  </div>

</form>
