<form class="form" #form="ngForm" novalidate
  (ngSubmit)="onSubmit(form)"
  >
  <h2>Demo Form</h2>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      1) Text input.<br>Validation params: required, minlength=2, maxlength=10.
    </p>

    <input class="custom-input"
           type="text"  
           ngxInputText 
           placeholder="Name"
           [(ngModel)]="data.name" 
           name="userName"
           #nameModel="ngModel" 
           [model]="nameModel"
           required 
           minlength="2"
           maxlength="10"
      >

    <ngx-msg for="userName"></ngx-msg>

  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      2) Email input with label.<br>Validation params: required.
    </p>

    <label class="custom-input-label" 
           ngxLabel for="emailId"
      >Email
    </label>

    <input class="custom-input"
           type="email" 
           ngxInputEmail
           label="Email"
           name="email"
           id="emailId"
           [(ngModel)]="data.email" 
           #emailModel="ngModel"  
           [model]="emailModel" 
           required
      >

    <ngx-msg for="email"></ngx-msg>

  </div>

  <div class="form-field-wrap">

    <p class="form-field-desc">
      3) Password input.<br>Validation params: required, minlength=6, pattern.
    </p>

    <input class="custom-input" 
           type="password"  
           ngxInputText 
           placeholder="Password"
           name="password"
           [(ngModel)]="data.password"
           #passwordModel="ngModel"
           [model]="passwordModel"
           required
           minlength="6"
           [pattern]="passwordRegExp"
        >
    
    <ngx-msg for="password" [pattern]="weakPasswordMsg"></ngx-msg>

  </div>
  
  <div class="form-field-wrap">

    <p class="form-field-desc">
      4) Number input.<br>Validation params: required, integer, min=1, max=100.
    </p>
    
    <input class="custom-input"
           type="number" 
           ngxInputNumber
           name="quantity"
           placeholder="Quantity"
           [(ngModel)]="data.quantity" 
           #quantityModel="ngModel" 
           [model]="quantityModel"
           required integer 
           min="1" max="100" 
      >
  
    <ngx-msg for="quantity"></ngx-msg>

  </div>

  <div class="form-field-wrap">

    <p class="form-field-desc">
      5) Text area with label.<br>Validation params: required, maxlength="20".
    </p>

    <label class="custom-input-label" 
           ngxLabel 
           for="commentId"
      >Comment
    </label>

    <textarea class="custom-input"
              ngxInputText
              name="comment"
              id="commentId"
              label="Comment"
              [(ngModel)]="data.comment" 
              #commentModel="ngModel" 
              [model]="commentModel"
              required
              maxlength="20"
      >
    </textarea>
  
    <ngx-msg for="commentId"></ngx-msg>

  </div>

  <div class="form-footer">
  
    <button type="submit">Submit</button>

  </div>

</form>
